# Análisis exploratorio con datos de Netflix

En este cuaderno vamos a explorar la base de datos `netflix_titles.csv` usando **pandas** y **NumPy**.

Objetivos:
- Practicar carga y exploración de datos.
- Realizar limpieza y transformación básica.
- Responder preguntas usando agregaciones y filtros.
- Usar NumPy para calcular estadísticas sobre una variable numérica.

In [201]:
import pandas as pd
import numpy as np

## 1. Carga e inspección inicial

En esta sección cargamos el archivo `netflix_titles.csv` y revisamos su estructura general.

In [202]:
df = pd.read_csv('netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [203]:
df.shape

(8807, 12)

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [205]:
df.rename(columns={'type': 'tipo', 'title': 'titulo','cast': 'reparto','country': 'pais','date_added': 'fecha_de_agregado','release_year': 'anio_de_lanzamiento','rating': 'valoracion','duration': 'duracion','listed_in': 'genero','description': 'descripcion'}, inplace=True)

In [206]:
df.rename(columns={'valoracion': 'clasificacion'}, inplace=True)

In [207]:
df.isna().sum()

show_id                   0
tipo                      0
titulo                    0
director               2634
reparto                 825
pais                    831
fecha_de_agregado        10
anio_de_lanzamiento       0
clasificacion             4
duracion                  3
genero                    0
descripcion               0
dtype: int64

In [208]:
df['anio_de_lanzamiento'].describe(include='all')

count    8807.000000
mean     2014.180198
std         8.819312
min      1925.000000
25%      2013.000000
50%      2017.000000
75%      2019.000000
max      2021.000000
Name: anio_de_lanzamiento, dtype: float64

**Actividad:** Describe brevemente (en tus propias palabras) qué información contiene el dataset y qué columnas parecen más importantes para el análisis.

## 2. Limpieza y transformación básica

Vamos a:
- Convertir `date_added` a tipo fecha.
- Crear una columna `year_added`.
- Separar `duration` en número y unidad.
- Crear una columna de país principal.

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   show_id              8807 non-null   object
 1   tipo                 8807 non-null   object
 2   titulo               8807 non-null   object
 3   director             6173 non-null   object
 4   reparto              7982 non-null   object
 5   pais                 7976 non-null   object
 6   fecha_de_agregado    8797 non-null   object
 7   anio_de_lanzamiento  8807 non-null   int64
 8   clasificacion        8803 non-null   object
 9   duracion             8804 non-null   object
 10  genero               8807 non-null   object
 11  descripcion          8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [210]:
df['fecha_de_agregado'].describe(include='all')

count                8797
unique               1767
top       January 1, 2020
freq                  109
Name: fecha_de_agregado, dtype: object

In [211]:
df['fecha_de_agregado'] = pd.to_datetime(df['fecha_de_agregado'], errors='coerce')

In [212]:
df['fecha_de_agregado'].head(20)

0    2021-09-25
1    2021-09-24
2    2021-09-24
3    2021-09-24
4    2021-09-24
5    2021-09-24
6    2021-09-24
7    2021-09-24
8    2021-09-24
9    2021-09-24
10   2021-09-24
11   2021-09-23
12   2021-09-23
13   2021-09-22
14   2021-09-22
15   2021-09-22
16   2021-09-22
17   2021-09-22
18   2021-09-22
19   2021-09-22
Name: fecha_de_agregado, dtype: datetime64[ns]

In [213]:
df['director'].fillna('Desconocido', inplace=True)
df['reparto'].fillna('Desconocido', inplace=True)
df['pais'].fillna('Desconocido', inplace=True)

C:\Users\julia\AppData\Local\Temp\ipykernel_34620\601319492.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director'].fillna('Desconocido', inplace=True)
C:\Users\julia\AppData\Local\Temp\ipykernel_34620\601319492.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['reparto'].fillna('Desconocido', inplace=True)
C:\Users\julia\AppData\Local\Temp\ipykernel_34620\601319492.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['pais'].fillna('Desconocido', inplace=True)

In [214]:
df['fecha_de_agregado'].fillna(df['anio_de_lanzamiento'].astype(str) + "-01-01", inplace=True)

C:\Users\julia\AppData\Local\Temp\ipykernel_34620\2671454107.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['fecha_de_agregado'].fillna(df['anio_de_lanzamiento'].astype(str) + "-01-01", inplace=True)

In [215]:
df['clasificacion'].fillna('Desconocido', inplace=True)
df['duracion'].fillna('Desconocido', inplace=True)

C:\Users\julia\AppData\Local\Temp\ipykernel_34620\315912804.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['clasificacion'].fillna('Desconocido', inplace=True)
C:\Users\julia\AppData\Local\Temp\ipykernel_34620\315912804.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['duracion'].fillna('Desconocido', inplace=True)

In [216]:
df.isna().sum()

show_id                0
tipo                   0
titulo                 0
director               0
reparto                0
pais                   0
fecha_de_agregado      0
anio_de_lanzamiento    0
clasificacion          0
duracion               0
genero                 0
descripcion            0
dtype: int64

In [217]:
netflix_peliculas = df.loc[df['tipo'] == 'Movie']
netflix_peliculas.shape

(6131, 12)

In [218]:
netflix_peliculas.to_csv('netflix_peliculas.csv', index=False)

In [219]:
netflix_peliculas = pd.read_csv('netflix_peliculas.csv')
netflix_peliculas.head(20)

,show_id,tipo,titulo,director,reparto,pais,fecha_de_agregado,anio_de_lanzamiento,clasificacion,duracion,genero,descripcion
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Desconocido,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",Desconocido,2021-09-24,2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
2,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
3,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021-09-24,2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
4,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021-09-23,2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
5,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,"Klara Castanho, Lucca Picon, Júlia Gomes, Marc...",Desconocido,2021-09-22,2021,TV-PG,91 min,"Children & Family Movies, Comedies",When the clever but socially-awkward Tetê join...
6,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",Desconocido,Desconocido,2021-09-22,2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
7,s19,Movie,Intrusion,Adam Salky,"Freida Pinto, Logan Marshall-Green, Robert Joh...",Desconocido,2021-09-22,2021,TV-14,94 min,Thrillers,After a deadly home invasion at a couple’s new...
8,s23,Movie,Avvai Shanmughi,K.S. Ravikumar,"Kamal Hassan, Meena, Gemini Ganesan, Heera Raj...",Desconocido,2021-09-21,1996,TV-PG,161 min,"Comedies, International Movies",Newly divorced and denied visitation rights wi...
9,s24,Movie,Go! Go! Cory Carson: Chrissy Takes the Wheel,"Alex Woo, Stanley Moore","Maisie Benson, Paul Killam, Kerry Gudjohnsen, ...",Desconocido,2021-09-21,2021,TV-Y,61 min,Children & Family Movies,From arcade games to sled days and hiccup cure...
10,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,2021-09-21,1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...
11,s27,Movie,Minsara Kanavu,Rajiv Menon,"Arvind Swamy, Kajol, Prabhu Deva, Nassar, S.P....",Desconocido,2021-09-21,1997,TV-PG,147 min,"Comedies, International Movies, Music & Musicals",A tangled love triangle ensues when a man fall...
12,s28,Movie,Grown Ups,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",United States,2021-09-20,2010,PG-13,103 min,Comedies,Mourning the loss of their beloved junior high...
13,s29,Movie,Dark Skies,Scott Stewart,"Keri Russell, Josh Hamilton, J.K. Simmons, Dak...",United States,2021-09-19,2013,PG-13,97 min,"Horror Movies, Sci-Fi & Fantasy",A family’s idyllic suburban life shatters when...
14,s30,Movie,Paranoia,Robert Luketic,"Liam Hemsworth, Gary Oldman, Amber Heard, Harr...","United States, India, France",2021-09-19,2013,PG-13,106 min,Thrillers,"Blackmailed by his company's CEO, a low-level ..."
15,s31,Movie,Ankahi Kahaniya,"Ashwiny Iyer Tiwari, Abhishek Chaubey, Saket C...","Abhishek Banerjee, Rinku Rajguru, Delzad Hiwal...",Desconocido,2021-09-17,2021,TV-14,111 min,"Dramas, Independent Movies, International Movies","As big city life buzzes around them, lonely so..."
16,s36,Movie,The Father Who Moves Mountains,Daniel Sandu,"Adrian Titieni, Elena Purea, Judith State, Val...",Desconocido,2021-09-17,2021,TV-MA,110 min,"Dramas, International Movies, Thrillers",When his son goes missing during a snowy hike ...
17,s37,Movie,The Stronghold,Cédric Jimenez,"Gilles Lellouche, Karim Leklou, François Civil...",Desconocido,2021-09-17,2021,TV-MA,105 min,"Action & Adventure, Dramas, International Movies","Tired of the small-time grind, three Marseille..."
18,s39,Movie,Birth of the Dragon,George Nolfi,"Billy Magnussen, Ron Yuan, Qu Jingjing, Terry ...","China, Canada, United States",2021-09-16,2017,PG-13,96 min,"Action & Adventure, Dramas",A young Bruce Lee angers kung fu traditionalis...
19,s42,Movie,Jaws,Steven Spielberg,"Roy Scheider, Robert Shaw, Richard Dreyfuss, L...",United States,2021-09-16,1975,PG,124 min,"Action & Adventure, Classic Movies, Dramas",When an insatiable great white shark terrorize...

In [220]:
netflix_series = df.loc[df['tipo'] == 'TV Show']
netflix_series.shape

(2676, 12)

In [221]:
netflix_series.to_csv('netflix_series.csv', index=False)

In [222]:
netflix_peliculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6131 entries, 0 to 6130
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   show_id              6131 non-null   object
 1   tipo                 6131 non-null   object
 2   titulo               6131 non-null   object
 3   director             6131 non-null   object
 4   reparto              6131 non-null   object
 5   pais                 6131 non-null   object
 6   fecha_de_agregado    6131 non-null   object
 7   anio_de_lanzamiento  6131 non-null   int64
 8   clasificacion        6131 non-null   object
 9   duracion             6131 non-null   object
 10  genero               6131 non-null   object
 11  descripcion          6131 non-null   object
dtypes: int64(1), object(11)
memory usage: 574.9+ KB

In [223]:
nxp= netflix_peliculas
nxp['director'].unique()

array(['Kirsten Johnson', 'Robert Cullen, José Luis Ucha', 'Haile Gerima',
       ..., 'Majid Al Ansari', 'Peter Hewitt', 'Mozez Singh'],
      shape=(4355,), dtype=object)

In [224]:
nxp['director'].head(20)

0                                       Kirsten Johnson
1                         Robert Cullen, José Luis Ucha
2                                          Haile Gerima
3                                        Theodore Melfi
4                                   Christian Schwochow
5                                         Bruno Garotti
6         Pedro de Echave García, Pablo Azorín Williams
7                                            Adam Salky
8                                        K.S. Ravikumar
9                               Alex Woo, Stanley Moore
10                                           S. Shankar
11                                          Rajiv Menon
12                                         Dennis Dugan
13                                        Scott Stewart
14                                       Robert Luketic
15    Ashwiny Iyer Tiwari, Abhishek Chaubey, Saket C...
16                                         Daniel Sandu
17                                       Cédric Jimenez
18                                         George Nolfi
19                                     Steven Spielberg
Name: director, dtype: object

In [225]:
#nxp.loc[nxp['reparto'].str.contains('Vanessa Hudgens')]['titulo'].count()
nxp.loc[nxp['director'].str.contains('Robert Cullen')].head(20)

,show_id,tipo,titulo,director,reparto,pais,fecha_de_agregado,anio_de_lanzamiento,clasificacion,duracion,genero,descripcion
1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",Desconocido,2021-09-24,2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...

In [226]:
nxs = netflix_series

In [227]:
nxp['fecha_de_agregado'] = pd.to_datetime(nxp['fecha_de_agregado'], errors='coerce')

In [228]:
nxp['fecha_de_agregado'].value_counts(ascending=False)

fecha_de_agregado
2020-01-01    97
2019-11-01    75
2018-03-01    72
2019-12-31    67
2018-10-01    64
              ..
2019-06-23     1
2018-12-23     1
2019-10-26     1
2019-04-21     1
2016-05-26     1
Name: count, Length: 1533, dtype: int64

In [229]:
nxs['anio_de_lanzamiento'].value_counts(ascending=False)

anio_de_lanzamiento
2020    436
2019    397
2018    380
2021    315
2017    265
2016    244
2015    162
2014     88
2012     64
2013     63
2010     40
2011     40
2009     34
2008     23
2006     14
2007     14
2005     13
2003     10
2004      9
1999      7
2002      7
2001      5
2000      4
1998      4
1993      4
1997      4
1990      3
1992      3
1996      3
1994      2
1995      2
1986      2
1988      2
1945      1
1974      1
1991      1
1972      1
1925      1
1979      1
1977      1
1981      1
1946      1
1985      1
1967      1
1989      1
1963      1
Name: count, dtype: int64

In [230]:
nxs['fecha_de_agregado'] = pd.to_datetime(nxs['fecha_de_agregado'], errors='coerce')
nxs['fecha_de_agregado'].value_counts(ascending=False)

C:\Users\julia\AppData\Local\Temp\ipykernel_34620\1920729059.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nxs['fecha_de_agregado'] = pd.to_datetime(nxs['fecha_de_agregado'], errors='coerce')

fecha_de_agregado
2016-01-01    47
2021-07-06    31
2017-01-01    24
2017-08-01    22
2021-06-19    21
              ..
2016-11-11     1
1967-01-01     1
2021-09-05     1
2021-09-09     1
2021-09-21     1
Name: count, Length: 999, dtype: int64

In [231]:
nxs = pd.read_csv('netflix_series.csv')
nxs.head(20)

,show_id,tipo,titulo,director,reparto,pais,fecha_de_agregado,anio_de_lanzamiento,clasificacion,duracion,genero,descripcion
0,s2,TV Show,Blood & Water,Desconocido,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
1,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Desconocido,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
2,s4,TV Show,Jailbirds New Orleans,Desconocido,Desconocido,Desconocido,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
3,s5,TV Show,Kota Factory,Desconocido,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
4,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",Desconocido,2021-09-24,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
5,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,2021-09-24,2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
6,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",Desconocido,Desconocido,Desconocido,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
7,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",Desconocido,2021-09-23,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
8,s15,TV Show,Crime Stories: India Detectives,Desconocido,Desconocido,Desconocido,2021-09-22,2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
9,s16,TV Show,Dear White People,Desconocido,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,2021-09-22,2021,TV-MA,4 Seasons,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...
10,s18,TV Show,Falsa identidad,Desconocido,"Luis Ernesto Franco, Camila Sodi, Sergio Goyri...",Mexico,2021-09-22,2020,TV-MA,2 Seasons,"Crime TV Shows, Spanish-Language TV Shows, TV ...",Strangers Diego and Isabel flee their home in ...
11,s20,TV Show,Jaguar,Desconocido,"Blanca Suárez, Iván Marcos, Óscar Casas, Adriá...",Desconocido,2021-09-22,2021,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In the 1960s, a Holocaust survivor joins a gro..."
12,s21,TV Show,Monsters Inside: The 24 Faces of Billy Milligan,Olivier Megaton,Desconocido,Desconocido,2021-09-22,2021,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...","In the late 1970s, an accused serial rapist cl..."
13,s22,TV Show,Resurrection: Ertugrul,Desconocido,"Engin Altan Düzyatan, Serdar Gökhan, Hülya Dar...",Turkey,2021-09-22,2018,TV-14,5 Seasons,"International TV Shows, TV Action & Adventure,...",When a good deed unwittingly endangers his cla...
14,s26,TV Show,Love on the Spectrum,Desconocido,Brooke Satchwell,Australia,2021-09-21,2021,TV-14,2 Seasons,"Docuseries, International TV Shows, Reality TV",Finding love can be hard for anyone. For young...
15,s32,TV Show,Chicago Party Aunt,Desconocido,"Lauren Ash, Rory O'Malley, RuPaul Charles, Jil...",Desconocido,2021-09-17,2021,TV-MA,1 Season,TV Comedies,Chicago Party Aunt Diane is an idolized troubl...
16,s33,TV Show,Sex Education,Desconocido,"Asa Butterfield, Gillian Anderson, Ncuti Gatwa...",United Kingdom,2021-09-17,2020,TV-MA,3 Seasons,"British TV Shows, International TV Shows, TV C...",Insecure Otis has all the answers when it come...
17,s34,TV Show,Squid Game,Desconocido,"Lee Jung-jae, Park Hae-soo, Wi Ha-jun, Oh Youn...",Desconocido,2021-09-17,2021,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Thrillers",Hundreds of cash-strapped players accept a str...
18,s35,TV Show,Tayo and Little Wizards,Desconocido,"Dami Lee, Jason Lee, Bommie Catherine Han, Jen...",Desconocido,2021-09-17,2020,TV-Y7,1 Season,Kids' TV,Tayo speeds into an adventure when his friends...
19,s38,TV Show,Angry Birds,Desconocido,"Antti Pääkkönen, Heljä Heikkinen, Lynne Guagli...",Finland,2021-09-16,2018,TV-Y7,1 Season,"Kids' TV, TV Comedies","Birds Red, Chuck and their feathered friends h..."

In [232]:
nxp['duracion'].head(20)

0      90 min
1      91 min
2     125 min
3     104 min
4     127 min
5      91 min
6      67 min
7      94 min
8     161 min
9      61 min
10    166 min
11    147 min
12    103 min
13     97 min
14    106 min
15    111 min
16    110 min
17    105 min
18     96 min
19    124 min
Name: duracion, dtype: object

In [233]:
# Separar duración en número y unidad
nxp['duracion_num'] = nxp['duracion'].str.extract(r'(\d+)').astype(float)
nxp['duracion_unit'] = nxp['duracion'].str.extract(r'([A-Za-z ]+)$')

In [234]:
nxp['duracion_num'].describe()
min_duration = nxp['duracion_num'].min()
max_duration = nxp['duracion_num'].max()
shorts = nxp.loc[nxp['duracion_num']<15]

In [235]:
shorts.to_csv('netflix_short_movies.csv', index=False)

In [236]:
nxp['pais'].unique()

array(['United States', 'Desconocido',
       'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia',
       'Germany, Czech Republic', 'India', 'United States, India, France',
       'China, Canada, United States',
       'South Africa, United States, Japan', 'Japan', 'Nigeria',
       'Spain, United States', 'France', 'United Kingdom, United States',
       'United Kingdom, Australia, France',
       'United Kingdom, Australia, France, United States',
       'United States, Canada', 'Germany, United States',
       'South Africa, United States', 'United States, Mexico',
       'United States, Italy, France, Japan',
       'United States, Italy, Romania, United Kingdom',
       'Australia, United States', 'Argentina, Venezuela',
       'United States, United Kingdom, Canada', 'China, Hong Kong',
       'Canada', 'Hong Kong', 'United States, China, Hong Kong',
       'Italy, United States', 'United States, Germany',
       'United Kingdom, Canada, United States',
       'United States, United Kingdom', 'United Kingdom', 'India, Nepal',
       'New Zealand, Australia, France, United States',
       'Italy, Brazil, Greece', 'Colombia', 'United States, Japan',
       'Mexico', 'Belgium, United Kingdom',
       'Switzerland, United Kingdom, Australia', 'South Africa',
       'Canada, United States', 'Brazil', 'Argentina', 'Argentina, Spain',
       'United States, Nigeria', 'Bulgaria, United States',
       'Spain, United Kingdom, United States', 'United States, China',
       'United States, France',
       'Spain, France, United Kingdom, United States',
       ', France, Algeria', 'Poland',
       'France, Israel, Germany, United States, United Kingdom',
       'Australia', 'New Zealand', 'Saudi Arabia', 'Thailand',
       'Indonesia', 'Egypt, Denmark, Germany', 'Italy',
       'United States, Switzerland', 'Hong Kong, Canada, United States',
       'Kuwait, United States', 'France, Canada, United States, Spain',
       'France, Netherlands, Singapore', 'Egypt', 'Malaysia',
       'South Korea, Czech Republic', 'South Korea', 'Vietnam',
       'United Kingdom, Belgium',
       'United Kingdom, Australia, United States',
       'France, Japan, United States',
       'United Kingdom, Germany, Spain, United States',
       'United Kingdom, United States, France, Italy',
       'United States, Germany, Canada',
       'United States, France, Italy, United Kingdom',
       'United States, United Kingdom, Germany, Hungary',
       'United States, New Zealand', 'Lebanon', 'Romania',
       'Lebanon, Syria', 'Philippines', 'Germany', 'United States, India',
       'China, United States, Canada', 'Lebanon, United Arab Emirates',
       'Canada, United States, Denmark', 'United Arab Emirates',
       'Mexico, France, Colombia', 'Netherlands', 'Spain', 'Sweden',
       'Germany, United States, France', 'United States, Bulgaria',
       'United Kingdom, France, Germany, United States',
       'Syria, France, Lebanon, Qatar', 'Belgium, Netherlands',
       'Mauritius', 'Canada, South Africa', 'Austria', 'Mexico, Brazil',
       'France, United States', 'China', 'Turkey', 'Germany, France',
       'United Kingdom, France, Spain, United States',
       'United States, Australia',
       'United States, United Kingdom, France', 'United States, Russia',
       'United States, United Kingdom, New Zealand',
       'Canada, Nigeria, United States',
       'France, United States, United Kingdom, Canada',
       'India, United Kingdom', 'Canada, United States, Mexico',
       'United Kingdom, Germany, United States',
       'Czech Republic, United Kingdom, United States', 'China, Taiwan',
       'United States, China, United Kingdom', 'Cameroon',
       'Lebanon, Palestine, Denmark, Qatar', 'Japan, United States',
       'Egypt, Saudi Arabia',
       'United Kingdom, France, Poland, Germany, United States',
       'Ireland, Switzerland, United Kingdom, France, United States',
       'China, United Kingdom', 'United Kingdom, South Africa, France',
       'Ireland, United Kingdom, France, Germany',
       'Russia, United States', 'United Kingdom, United States, France',
       'Taiwan', 'United Kingdom,',
       'United States, India, United Kingdom', 'Kenya',
       'Spain, Argentina', 'India, United Kingdom, France, Qatar',
       'Belgium, France', 'Argentina, Chile', 'United States, Thailand',
       'Chile, Brazil', 'Canada, United States, United Kingdom',
       'Uruguay', 'United States, Cambodia, Romania', 'Bangladesh',
       'Spain, Belgium, United States',
       'United Kingdom, United States, Australia',
       'Portugal, United States', 'Portugal, Spain',
       'India, United States', 'United Kingdom, Ireland',
       'United Kingdom, Spain, United States', 'Hungary, United States',
       'United States, South Korea',
       'Canada, United States, Cayman Islands', 'India, France',
       'France, Canada', 'Canada, Hungary, United States', 'Norway',
       'United Kingdom, Germany, France, United States',
       'France, Algeria',
       'Philippines, Canada, United Kingdom, United States',
       'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong',
       'Singapore', 'France, Belgium', 'Iceland',
       'United States, France, Serbia', 'United States, Italy',
       'Hong Kong, United States',
       'United States, Malta, France, United Kingdom',
       'United States, China, Canada', 'Lebanon, Canada, France',
       'Spain, France, Canada', 'United States, China, Colombia',
       'Spain, Thailand, United States', 'Mexico, Spain',
       'Ireland, Luxembourg, Belgium', 'China, United States',
       'Canada, Belgium', 'Canada, United Kingdom',
       'Lebanon, United Arab Emirates, France, Switzerland, Germany',
       'France, Belgium, Italy',
       'Lebanon, United States, United Arab Emirates', 'Lebanon, France',
       'France, Lebanon', 'France, Lebanon, United Kingdom',
       'France, Norway, Lebanon, Belgium',
       'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands',
       'United States, United Kingdom, India', 'Indonesia, Netherlands',
       'Turkey, South Korea', 'Serbia, United States', 'Namibia',
       'United Kingdom, Kenya',
       'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany',
       'Thailand, United States',
       'United States, France, Canada, Belgium',
       'Germany, China, United Kingdom',
       'Hong Kong, Iceland, United States',
       'United States, Belgium, Canada, France', 'South Africa, Angola',
       'United States, Philippines',
       'United States, United Kingdom, Canada, China',
       'United States, Canada, United Kingdom', 'Turkey, United States',
       'Peru, Germany, Norway', 'Mozambique', 'Brazil, France',
       'China, Spain, South Korea, United States', 'Spain, Germany',
       'Hong Kong, China', 'France, Belgium, Luxembourg, Cambodia,',
       'Indonesia, United Kingdom',
       'Switzerland, France, Belgium, United States', 'Ghana',
       'Spain, France, Canada, United States', 'United Kingdom, Nigeria',
       'Chile', 'France, Egypt', 'Egypt, France',
       'France, Brazil, Spain, Belgium', 'Egypt, Algeria',
       'Canada, South Korea, United States', 'Nigeria, United Kingdom',
       'United Arab Emirates, Jordan, Lebanon, Saudi Arabia',
       'Saudi Arabia, United Arab Emirates', 'Zimbabwe',
       'United Kingdom, Germany, United Arab Emirates, New Zealand',
       'Romania, United States', 'Mexico, United States', 'Kuwait',
       'Canada, Nigeria',
       'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States',
       'India, United Kingdom, China, Canada, Japan, South Korea, United States',
       'Turkey, India', 'Italy, Turkey',
       'United Kingdom, United States, Japan',
       'France, Belgium, United States', 'Uruguay, Argentina',
       'United States, United Kingdom, Japan', 'United States, Argentina',
       'United Kingdom, Italy', 'Ireland, United Kingdom',
       'United Kingdom, France, Belgium, Canada, United States',
       'Netherlands, Germany, Denmark, United Kingdom', 'Hungary',
       'Pakistan, United States', 'Romania, France, Switzerland, Germany',
       'Romania, United Kingdom', 'France, Malta, United States',
       'United Kingdom, France, Belgium, Ireland, United States',
       'United States, Norway, Canada', 'Poland, United States',
       'Kenya, United States', 'Uruguay, Argentina, Germany, Spain',
       'United States, United Kingdom, France, Germany, Japan',
       'United States, France, Japan',
       'United Kingdom, France, United States',
       'Spain, France, United States',
       'Indonesia, South Korea, Singapore', 'South Korea, United States',
       'United States, Spain', 'Argentina, Uruguay, Serbia',
       'Israel, United States', 'France, Japan',
       'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
       'India, Germany', 'India, United Kingdom, Canada, United States',
       'Philippines, United States', 'Romania, Bulgaria, Hungary',
       'Uruguay, Guatemala', 'France, Senegal, Belgium', 'Canada, Norway',
       'Finland, Germany, Belgium', 'United Kingdom, France',
       'United States, Chile', 'United Kingdom, Japan, United States',
       'Spain, United Kingdom', 'United States, South Korea, Japan',
       'United Kingdom, Hungary, Australia', 'Italy, Belgium',
       'United States, United Kingdom, Germany', 'Switzerland',
       'Singapore, Malaysia',
       'France, Belgium, Luxembourg, Romania, Canada, United States',
       'South Africa, Nigeria', 'Spain, France',
       'United Kingdom, Hong Kong', 'Pakistan', 'Brazil, United States',
       'Denmark, Brazil, France, Portugal, Sweden', 'India, Turkey',
       'Philippines, Singapore', 'Taiwan, China, France, United States',
       'Germany, Italy', 'Colombia, Peru, United Kingdom',
       'Thailand, China, United States', 'Argentina, United States',
       'Sweden, United States', 'Uruguay, Spain, Mexico',
       'France, Luxembourg, Canada', 'Denmark, Spain', 'Chile, Argentina',
       'United Kingdom, Belgium, Sweden', 'Denmark', 'Italy, France',
       'Canada, Germany', 'Pakistan, United Arab Emirates',
       'Ghana, United States', 'Mexico, Finland',
       'United Arab Emirates, United Kingdom, India',
       'Netherlands, Belgium', 'United States, Taiwan',
       'Austria, Iraq, United States', 'United Kingdom, Malawi',
       'Paraguay, Argentina', 'United Kingdom, Russia, United States',
       'India, Pakistan', 'Indonesia, Singapore', 'Spain, Belgium',
       'Iceland, Sweden, Belgium', 'Uruguay, Argentina, Spain',
       'Canada, Germany, France, United States', 'United Kingdom, Japan',
       'Norway, Denmark, Netherlands, Sweden',
       'Hong Kong, China, United States', 'Ireland, Canada',
       'Italy, Switzerland, France, Germany', 'Mexico, Netherlands',
       'France, Iran, United States', 'United Kingdom, India',
       'Russia, Poland, Serbia', 'Spain, Portugal', 'Peru',
       'Mexico, Argentina',
       'United Kingdom, Canada, United States, Cayman Islands',
       'Indonesia, United States',
       'United States, Israel, United Kingdom, Canada',
       'Norway, Iceland, United States',
       'United Kingdom, India, United States', 'India, Australia',
       'United States,', 'Belgium, United Kingdom, United States',
       'India, Germany, Austria', 'Spain, Mexico', 'China, Japan',
       'Argentina, France', 'China, United States, United Kingdom',
       'France, Luxembourg, United States',
       'China, United States, Australia', 'Colombia, Mexico',
       'United States, Canada, Ireland', 'Israel', 'Chile, Peru',
       'Argentina, Italy', 'Canada, Japan, United States',
       'United Kingdom, Canada, United States, Germany',
       'Italy, Switzerland, Albania, Poland', 'Cambodia',
       'Italy, United States, Argentina',
       'United States, Canada, Indonesia, United Kingdom, China, Singapore',
       'Spain, Colombia', 'Bulgaria',
       'Argentina, Brazil, France, Poland, Germany, Denmark',
       'United Kingdom, Spain, United States, Germany',
       'Philippines, Qatar', 'Netherlands, Belgium, Germany, Jordan',
       'United Arab Emirates, United States', 'United Kingdom, Germany',
       'United Kingdom, Canada', 'Georgia', 'Soviet Union, India',
       'Australia, United Arab Emirates', 'Czech Republic, United States',
       'South Korea, China, United States', 'India, Soviet Union',
       'India, Mexico', 'Georgia, Germany, France',
       'United Arab Emirates, Romania', 'Australia, Canada',
       'India, Malaysia', 'Germany, Jordan, Netherlands',
       'Turkey, France, Germany, Poland', 'Greece, United States',
       'Norway, Germany', 'France, Morocco', 'Cambodia, United States',
       'United States, Denmark',
       'United Kingdom, Italy, Israel, Peru, United States',
       'Argentina, Uruguay, Spain, France',
       'United Kingdom, France, United States, Belgium',
       'France, Canada, China, Cambodia',
       'United Kingdom, France, Belgium, United States', 'Ireland',
       'Chile, France', 'Netherlands, United States',
       'France, United Kingdom, India', 'Czech Republic, Slovakia',
       'Singapore, France', 'Spain, Switzerland',
       'United States, Australia, China',
       'South Africa, United States, Germany', 'Spain, Italy, Argentina',
       'Chile, Spain, Argentina, Germany', 'West Germany',
       'Austria, Czech Republic', 'Lebanon, Qatar',
       'United Kingdom, Jordan, Qatar, Iran',
       'France, South Korea, Japan', 'Israel, Germany, France',
       'United States, Hungary', 'France, Qatar',
       'United Kingdom, Germany, Canada', 'Ireland, South Africa',
       'Chile, United States, France', 'Denmark, United States',
       'Canada, United Kingdom, United States',
       'Belgium, France, Netherlands',
       'United Kingdom, Ukraine, United States',
       'United States, Bermuda, Ecuador',
       'United Kingdom, Egypt, United States',
       'United States, France, United Kingdom', 'Spain, Mexico, France',
       'United States, South Africa', 'Hong Kong, China, Singapore',
       'South Africa, China, United States', 'Denmark, France, Poland',
       'New Zealand, United Kingdom',
       'Netherlands, Denmark, South Africa', 'Iran, France',
       'United Kingdom, United States, France, Germany',
       'Australia, France', 'Ireland, United Kingdom, United States',
       'Spain, Italy', 'United Kingdom, France, Germany',
       'Canada, Luxembourg',
       'Brazil, Netherlands, United States, Colombia, Austria, Germany',
       'France, Canada, Belgium',
       'Bulgaria, United States, Spain, Canada', 'Sweden, Netherlands',
       'France, United States, Mexico',
       'Australia, United Kingdom, United Arab Emirates, Canada',
       'Singapore, United States',
       'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay',
       'India, Iran', 'France, Belgium, Spain',
       'Denmark, Sweden, Israel, United States', 'United States, Iceland',
       'United Kingdom, Russia', 'Netherlands, Denmark, France, Germany',
       'South Korea, Japan', 'United Kingdom, Pakistan',
       'France, New Zealand',
       'United Kingdom, Czech Republic, United States, Germany, Bahamas',
       'China, Germany, India, United States', 'Germany, Sri Lanka',
       'United States, Sweden', 'United States, India, Bangladesh',
       'United States, Canada, France', 'Brazil, France, Germany',
       'United States, United Kingdom, Australia',
       'Germany, United States, Hong Kong, Singapore',
       'France, Germany, Switzerland',
       'Germany, France, Luxembourg, United Kingdom, United States',
       'United Kingdom, Canada, Italy', 'Czech Republic, France',
       'Taiwan, Hong Kong, United States, China', 'Germany, Australia',
       'United Kingdom, Poland, United States', 'Denmark, Zimbabwe',
       'United Kingdom, South Africa',
       'Finland, Sweden, Norway, Latvia, Germany',
       'South Africa, United States, New Zealand, Canada',
       'United States, Italy, United Kingdom, Liechtenstein',
       'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom',
       'United States, Australia, Mexico',
       'United Kingdom, Czech Republic, Germany, United States',
       'France, China, Japan, United States', 'Germany, Belgium',
       'Pakistan, Norway, United States',
       'United States, Canada, Belgium, United Kingdom', 'Venezuela',
       'Canada, France, Italy, Morocco, United States',
       'Canada, Spain, France', 'United States, Indonesia',
       'Spain, France, Italy',
       'United Arab Emirates, United States, United Kingdom',
       'United Kingdom, Israel, Russia', 'United States, Brazil',
       'United States, France, Mexico', 'United States, Nicaragua',
       'France, United Kingdom, United States',
       'United Kingdom, United States, Spain, Germany, Greece, Canada',
       'Russia', 'United Kingdom, Denmark, Canada, Croatia',
       'United States, France, United Kingdom, Japan',
       'United States, United Kingdom, Denmark, Sweden',
       'United States, United Kingdom, Italy',
       'United States, France, Canada, Spain',
       'Russia, United States, China', 'United States, Canada, Germany',
       'Ireland, United States', 'United States, United Arab Emirates',
       'United States, Ireland',
       'Ireland, United Kingdom, Italy, United States', 'Poland,',
       'Slovenia, Croatia, Germany, Czech Republic, Qatar',
       'Canada, United Kingdom, Netherlands',
       'United States, Spain, Germany', 'India, Japan',
       'China, South Korea, United States',
       'United Kingdom, France, Belgium',
       'Canada, Ireland, United States',
       'United Kingdom, United States, Dominican Republic',
       'United States, Senegal', 'Germany, United Kingdom, United States',
       'South Africa, Germany, Netherlands, France',
       'Ireland, United States, France', 'Germany, United States, Canada',
       'United Kingdom, Germany, Canada, United States',
       'United States, France, Canada, Lebanon, Qatar',
       'Netherlands, Belgium, United Kingdom, United States',
       'France, Belgium, China, United States',
       'United States, Chile, Israel',
       'United Kingdom, Norway, Denmark, Germany, Sweden',
       'Norway, Denmark, Sweden', 'China, India, Nepal',
       'United Kingdom, South Korea', 'Denmark, China',
       'United States, Greece, Brazil',
       'United States, Australia, Samoa, United Kingdom',
       'Germany, United Kingdom', 'Argentina, Chile, Peru',
       'Poland, West Germany', 'Germany, United States, Sweden',
       'Canada, Spain', 'United States, Cambodia',
       'United States, Greece', 'Norway, United Kingdom, France, Ireland',
       'United Kingdom, Poland', 'Israel, Sweden, Germany, Netherlands',
       'Switzerland, France', 'Italy, India', 'United States, Botswana',
       'Chile, Argentina, France, Spain, United States',
       'United States, India, South Korea, China',
       'Denmark, Germany, Belgium, United Kingdom, France',
       'Denmark, Germany, Belgium, United Kingdom, France, Sweden',
       'France, Switzerland, Spain, United States, United Arab Emirates',
       'Brazil, India, China, United States',
       'Denmark, France, United States, Sweden', 'Australia, Iraq',
       'China, Morocco, Hong Kong', 'Canada, United States, Germany',
       'United Kingdom, Thailand', 'Venezuela, Colombia',
       'France, Germany, Czech Republic, Belgium',
       'Switzerland, Vatican City, Italy, Germany, France',
       'Portugal, France, Poland, United States', 'India, Switzerland',
       'Canada, India', 'United States, Morocco',
       'Singapore, Japan, France',
       'Canada, Mexico, Germany, South Africa',
       'United Kingdom, United States, Canada',

In [237]:
# País principal (primer país de la lista)
nxp['pais_principal'] = nxp['pais'].str.split(',').str[0].str.strip()
nxp['pais_principal'].value_counts()

pais_principal
United States     2364
India              927
Desconocido        440
United Kingdom     382
Canada             187
                  ...
Slovenia             1
Guatemala            1
Jamaica              1
Somalia              1
Croatia              1
Name: count, Length: 80, dtype: int64

In [238]:
df.loc[df['pais'].str.contains('Colombia')]

,show_id,tipo,titulo,director,reparto,pais,fecha_de_agregado,anio_de_lanzamiento,clasificacion,duracion,genero,descripcion
278,s279,Movie,Lokillo: Nothing's the Same,Julián Gaviria,Lokillo Florez,Colombia,2021-08-12,2021,TV-MA,64 min,Stand-Up Comedy,"Through songs and puns, comedian Lokillo Flore..."
288,s289,TV Show,Las muñecas de la mafia,Desconocido,"Amparo Grisales, Fernando Solórzano, Angelica ...",Colombia,2021-08-10,2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","Based on the book ""Las Fantásticas,"" this exci..."
744,s745,TV Show,Locombianos,Desconocido,"Freddy Beltrán, Pamela Ospina, Diego Camargo, ...",Colombia,2021-06-10,2021,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",Four of Colombia's funniest and bawdiest comed...
750,s751,Movie,Tragic Jungle,Yulene Olaizola,"Indira Andrewin, Gilberto Barraza, Gabino Rodr...","Mexico, France, Colombia",2021-06-09,2021,TV-MA,97 min,"Dramas, Independent Movies, International Movies","To escape an arranged marriage, a woman flees ..."
753,s754,TV Show,"Newly Rich, Newly Poor",Desconocido,"Martín Karpan, Carolina Acevedo, Jhon Álex Tor...",Colombia,2021-06-06,2007,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, Spa...","After learning they were switched at birth, we..."
1232,s1233,Movie,Dogwashers,Carlos Moreno,"Christian Tappan, Anderson Ballesteros, John Á...",Colombia,2021-03-05,2021,TV-MA,108 min,"Comedies, Dramas, International Movies",When a narco past his prime refuses to pay a d...
1268,s1269,TV Show,El final del paraíso,Desconocido,"Carmen Villalobos, Catherine Siachoque, Fabián...","United States, Colombia",2021-02-25,2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","In Colombia, the DEA's new director targets a ..."
1270,s1271,TV Show,Sin senos sí hay paraíso,Desconocido,"Catherine Siachoque, Fabián Ríos, Carolina Gai...","United States, Colombia",2021-02-25,2018,TV-MA,3 Seasons,"International TV Shows, Spanish-Language TV Sh...",Born into a small town controlled by the mafia...
1349,s1350,TV Show,"Pablo Escobar, el patrón del mal",Desconocido,"Andrés Parra, Angie Cepeda, Cecilia Navia, Vic...",Colombia,2021-02-03,2012,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",From his days as a petty thief to becoming hea...
1523,s1524,Movie,An Unremarkable Christmas,Juan Camilo Pinzon,"Antonio Sanint, Luis Eduardo Arango, María Cec...",Colombia,2020-12-17,2020,TV-14,83 min,"Comedies, Dramas, International Movies",An accountant and aspiring magician invites hi...
1762,s1763,Movie,Mile 22,Peter Berg,"Mark Wahlberg, Lauren Cohan, Iko Uwais, John M...","United States, China, Colombia",2020-11-01,2018,R,94 min,Action & Adventure,An officer in a top-secret CIA unit leads his ...
2093,s2094,TV Show,Her Mother's Killer,Desconocido,"Carolina Gómez, Marlon Moreno, George Slebi, G...",Colombia,2020-08-26,2020,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","Nearly 30 years after her mom's murder, a poli..."
2134,s2135,TV Show,The Great Heist,Desconocido,"Andrés Parra, Christian Tappan, Marcela Benjum...",Colombia,2020-08-14,2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...","In 1994, a team of thieves plans an ambitious ..."
2329,s2330,TV Show,All For Love,Desconocido,"Ana María Estupiñán, Carlos Torres, Yuri Varga...",Colombia,2020-06-26,2020,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, Spa...",A penniless country boy goes in search of his ...
2499,s2500,TV Show,The Queen and the Conqueror,Desconocido,"Essined Aponte, Emmanuel Esparza, Kepa Amuchas...",Colombia,2020-05-20,2020,TV-14,1 Season,"International TV Shows, Spanish-Language TV Sh...",Years after Spanish conquistador Pedro de Here...
2567,s2568,Movie,Death Can Wait,Fernando Ayllón,"Ricardo Quevedo, Nelson Polanía, Liss Pereira,...",Colombia,2020-05-02,2020,TV-14,91 min,"Comedies, International Movies","After learning he may die soon, a modest accou..."
2599,s2600,TV Show,El señor de los Cielos,Desconocido,"Rafael Amaya, Ximena Herrera, Robinson Díaz, R...","United States, Mexico, Colombia",2020-04-30,2019,TV-MA,7 Seasons,"Crime TV Shows, International TV Shows, Spanis...",Only Aurelio Casillas can fill Pablo Escobar's...
2660,s2661,TV Show,Nicky Jam: El Ganador,Desconocido,"Nicky Jam, Diego Cadavid, Ana Lucia Dominguez,...","Puerto Rico, United States, Colombia",2020-04-21,2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",Follow reggaeton artist Nicky Jam's struggles ...
2868,s2869,TV Show,Always a Witch,Desconocido,"Angely Gaviria, Sebastián Eslava, Luis Fernand...",Colombia,2020-02-28,2019,TV-14,2 Seasons,"International TV Shows, Spanish-Language TV Sh...",A young 17th-century witch time travels to the...
3185,s3186,TV Show,The Road to Love,Desconocido,"Katherine Escobar Farfan, Juan Manuel Restrepo...",Colombia,2019-12-04,2019,TV-14,1 Season,"International TV Shows, Romantic TV Shows, Spa...","After an argument with her dad, a young woman ..."
3212,s3213,TV Show,La Reina del Sur,Desconocido,"Kate del Castillo, Cristina Urgel, Alberto Jim...","Mexico, United States, Spain, Colombia",2019-11-29,2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...",This compelling show tells the story of the le...
3265,s3266,Movie,El sendero de la anaconda,Alessandro Angulo,"Wade Davis, Martin von Hildebrand",Colombia,2019-11-15,2019,TV-14,74 min,"Documentaries, International Movies","In the most remote areas of the Amazon jungle,..."
3298,s3299,TV Show,Wild District,Desconocido,"Juan Pablo Raba, Cristina Umaña, Camila Sodi, ...",Colombia,2019-11-08,2019,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...","After surrendering to Bogotá police, an ex-gue..."
3548,s3549,Movie,Feo pero sabroso,Fernando Ayllón,"Iván Marín, Lina Cardona, Carlos Barbosa, Ana ...",Colombia,2019-08-30,2018,TV-MA,91 min,"Comedies, International Movies",When an unattractive man gets engaged to a bea...
3552,s3553,TV Show,The Good Bandit,Desconocido,"Diego Vásquez, Carolina Acevedo, Norma Nivia, ...",Colombia,2019-08-30,2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A near-death experience spurs a feared drug lo...
3579,s3580,TV Show,Green Frontier,Desconocido,"Juana del Río, Ángela Cano, Miguel Dionisio Ra...",Colombia,2019-08-16,2019,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",When a young Bogotá-based detective gets drawn...
3703,s3704,Movie,El testigo,Kate Horne,Jesús Abad Colorado,"Colombia, Peru, United Kingdom",2019-06-28,2018,TV-14,73 min,"Documentaries, International Movies",Colombian photojournalist Jesús Abad Colorado ...
3719,s3720,TV Show,Bolívar,"Luis Alberto Restrepo, Andrés Beltrán, Jaime Rayo","Luis Gerónimo Abreu, José Ramón Barreto, Ernes...",Colombia,2019-06-21,2019,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, Spa...",This dramatization depicts the life – and love...
3888,s3889,Movie,Loving is Losing,Fernando Ayllón,"Ricardo Quevedo, Liss Pereira, Iván Marín, Lor...",Colombia,2019-04-26,2019,TV-MA,91 min,"Comedies, International Movies, Romantic Movies",When a newly single photographer is forced to ...
4406,s4407,TV Show,The Queen of Flow,Desconocido,"Carolina Ramírez, Carlos Torres, Andrés Sandov...",Colombia,2018-11-09,2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",Seventeen years after being wrongly imprisoned...
4474,s4475,Movie,Santo Cachón,Desconocido,Desconocido,Colombia,2018-10-26,2018,TV-14,87 min,"Comedies, International Movies, Romantic Movies",A man whose wife is repeatedly cheating on him...
4678,s4679,TV Show,Undercover Law,Desconocido,"Viña Machado, Juana del Río, Luna Baxter, Vale...",Colombia,2018-08-31,2017,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",Female intelligence agents infiltrate the disp...
4810,s4811,Movie,Penalty Kick,Rodrigo Triana,"Adrián Uribe, Julieth Restrepo, Carlos Manuel ...","Colombia, Mexico",2018-06-29,2018,TV-14,89 min,"Comedies, Dramas, International Movies",Convinced Mexico will lose the World Cup quali...
4883,s4884,Movie,Si saben cómo me pongo ¿pá qué me invitan?,Fernando Ayllón,"Ricardo Quevedo, Iván Marín, Freddy Beltrán, N...",Colombia,2018-05-03,2018,TV-MA,89 min,"Comedies, International Movies",When four unhappy couples attend a spiritual r...
4931,s4932,Movie,Pickpockets,Peter Webber,"Carlos Bardem, Natalia Reyes, Emiliano Pernia,...",Colombia,2018-04-12,2017,TV-MA,108 min,"Dramas, Independent Movies, International Movies",Aspiring teen thieves learn what it takes to b...
4936,s4937,Movie,Orbiter 9,Hatem Khraiche,"Clara Lago, Alex Gonzalez, Andrés Parra, Belén...","Spain, Colombia",2018-04-06,2017,TV-14,95 min,"Dramas, International Movies, Sci-Fi & Fantasy",A woman who's been alone on a spaceship her wh...
5066,s5067,Movie,Ricardo Quevedo: Hay gente así,"Raúl Campos, Jan Suter",Ricardo Quevedo,Colombia,2018-01-24,2018,TV-MA,59 min,Stand-Up Comedy,Droll comic Ricardo Quevedo hits Bogotá with a...
5076,s5077,Movie,Arango y Sanint: Ríase el show,"Raúl Campos, Jan Suter","Julián Arango, Antonio Sanint",Colombia,2018-01-17,2018,TV-MA,62 min,Stand-Up Comedy,Colombian stand-up comedians Antonio Sanint an...
5087,s5088,Movie,Alejandro Riaño: Especial de stand up,Desconocido,Alejandro Riaño,Colombia,2018-01-10,2018,TV-MA,60 min,Stand-Up Comedy,Colombian comedian Alejandro Riaño discusses t...
5305,s5306,TV Show,Narcos,Desconocido,"Wagner Moura, Pedro Pascal, Boyd Holbrook, Dam...","United States, Colombia, Mexico",2017-09-01,2017,TV-MA,3 Seasons,"Crime TV Shows, TV Action & Adventure, TV Dramas",The true story of Colombia's infamously violen...
5715,s5716,TV Show,La Niña,Desconocido,"Ana María Estupiñán, Sebastian Eslava, Juan Se...",Colombia,2016-11-18,2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A former Colombian guerrilla fighter faces cha...
5825,s5826,TV Show,La Esclava Blanca,Desconocido,"Nerea Camacho, Orián Suárez, Miguel de Miguel,...",Colombia,2016-08-01,2016,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...","In Colombia in 1821, a white orphan is taken i..."
6170,s6171,Movie,Another Forever,Juan Zapata,"Daniela Escobar, Marlon Moreno, Peter Ketnath,...","Brazil, Netherlands, United States, Colombia, ...",2017-03-21,2016,TV-PG,72 min,"Dramas, Independent Movies, International Movies","Overtaken by the death of her beloved, a griev..."
6672,s6673,TV Show,El Cartel,Desconocido,"Manolo Cardona, Karen Martínez, Robinson Díaz,...",Colombia,2018-08-24,2008,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",One man makes a fateful decision to get involv...
6673,s6674,TV Show,El Cartel 2,Desconocido,"Diego Cadavid, Robinson Díaz, Patricia Mantero...",Colombia,2018-08-24,2010,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",Drug trafficker Pepe Cadena navigates the trea...
7258,s7259,TV Show,La Viuda Negra,Alejandro Lozano,"Ana Serradilla, Julián Román, Ramiro Meneses, ...","Colombia, Mexico, United States",2019-01-15,2016,TV-14,1 Season,"Crime TV Shows, International TV Shows, Spanis...","Beautiful and ruthless Griselda Blanco, known ..."
7264,s7265,TV Show,"Lady, la vendedora de rosas",Desconocido,"Natalia Reyes, Michelle Orozco, Majida Issa, E...",Colombia,2018-04-01,2015,TV-14,1 Season,"International TV Shows, Spanish-Language TV Sh...",This series tells the life story of Colombian ...
7340,s7341,TV Show,Los tiempos de Pablo Escobar,Alessandro Angulo,Desconocido,Colombia,2018-08-01,2012,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...","Featuring never-before-seen images, personal t..."
7692,s7693,Movie,Pablo Escobar: Angel or Demon?,Jorge Granier,Desconocido,"Venezuela, Colombia",2018-03-23,2007,NR,82 min,"Documentaries, International Movies",This documentary traces the steps of druglord ...
7710,s7711,TV Show,Pasión de Gavilanes,Desconocido,"Danna García, Mario Cimarro, Paola Rey, Jorge ...","Colombia, United States",2017-05-04,2003,TV-14,1 Season,"International TV Shows, Romantic TV Shows, Spa...",Three brothers seek to avenge the tragic death...
8021,s8022,TV Show,Sin senos no hay paraíso,Desconocido,"Carmen Villalobos, Catherine Siachoque, María ...","Colombia, Mexico, United States",2017-05-15,2008,TV-14,1 Season,"International TV Shows, Spanish-Language TV Sh...","Inspired by a true story, this TV drama shadow..."
8022,s8023,TV Show,Sin Senos sí Hay Paraíso,Desconocido,"Majida Issa, Fabián Ríos, Catherine Siachoque,...","United States, Colombia",2018-01-01,2018,TV-MA,3 Seasons,"International TV Shows, Spanish-Language TV Sh...",Born into a small town controlled by the mafia...

**Actividad:** Revisa qué columnas tienen muchos valores faltantes y comenta qué decisión tomarías (eliminar filas, imputar, dejar como están) para este proyecto.

## 3. Preguntas de análisis con pandas

Responde las siguientes preguntas usando filtros, `groupby` y agregaciones.

### 3.1. Películas vs series

¿Cuántas películas y cuántas series hay en el catálogo?

In [239]:
nxp['duracion_num'].describe()

count    6128.000000
mean       99.577187
std        28.290593
min         3.000000
25%        87.000000
50%        98.000000
75%       114.000000
max       312.000000
Name: duracion_num, dtype: float64

In [240]:
df['tipo'].value_counts()

tipo
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [241]:
nxs['duracion_num'] = nxs['duracion'].str.extract(r'(\d+)').astype(float)
nxs['duracion_unit'] = nxs['duracion'].str.extract(r'([A-Za-z ]+)$')

In [242]:
nxs['duracion_num'].describe()

count    2676.000000
mean        1.764948
std         1.582752
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        17.000000
Name: duracion_num, dtype: float64

In [243]:
nxs.loc[nxs['duracion_num'] == 17]

,show_id,tipo,titulo,director,reparto,pais,fecha_de_agregado,anio_de_lanzamiento,clasificacion,duracion,genero,descripcion,duracion_num,duracion_unit
204,s549,TV Show,Grey's Anatomy,Desconocido,"Ellen Pompeo, Sandra Oh, Katherine Heigl, Just...",United States,2021-07-03,2020,TV-14,17 Seasons,"Romantic TV Shows, TV Dramas",Intern (and eventual resident) Meredith Grey f...,17.0,Seasons

Si Netflix mas de 3/4 de toda su coleccion en peliculas, porque hacen series tan largas

### 3.2. Títulos añadidos por año y tipo

¿Cómo ha evolucionado el número de títulos añadidos a Netflix por año (`year_added`) y por `type`?

In [244]:
nxp['unico_genero'] = nxp['genero'].str.split(',').str[0].str.strip()

In [245]:
titulos_por_anio = (
    nxp.groupby(['anio_de_lanzamiento', 'unico_genero'])['show_id']
      .count()
      .reset_index(name='n_titles')
)
#titulos_por_anio.head(10)
titulos_por_anio.loc[titulos_por_anio['unico_genero'] == 'Comedies']

     anio_de_lanzamiento unico_genero  n_titles
16                  1960     Comedies         1
20                  1962     Comedies         1
33                  1970     Comedies         1
44                  1973     Comedies         1
48                  1974     Comedies         2
55                  1976     Comedies         2
68                  1979     Comedies         1
78                  1981     Comedies         4
83                  1982     Comedies         4
87                  1983     Comedies         1
92                  1984     Comedies         3
96                  1985     Comedies         4
110                 1988     Comedies         5
118                 1989     Comedies         1
123                 1990     Comedies         4
130                 1991     Comedies         3
136                 1992     Comedies         2
144                 1993     Comedies         1
151                 1994     Comedies         2
156                 1995     Comedies         5
160                 1996     Comedies        12
166                 1997     Comedies        10
173                 1998     Comedies        12
180                 1999     Comedies         6
186                 2000     Comedies         9
193                 2001     Comedies        13
199                 2002     Comedies         4
208                 2003     Comedies        14
214                 2004     Comedies        11
223                 2005     Comedies        19
234                 2006     Comedies        26
245                 2007     Comedies        18
254                 2008     Comedies        31
264                 2009     Comedies        33
275                 2010     Comedies        37
286                 2011     Comedies        33
298                 2012     Comedies        48
308                 2013     Comedies        47
320                 2014     Comedies        60
332                 2015     Comedies        76
344                 2016     Comedies       116
357                 2017     Comedies       133
373                 2018     Comedies       138
390                 2019     Comedies       118
403                 2020     Comedies        90
416                 2021     Comedies        48

In [246]:
nxp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6131 entries, 0 to 6130
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   show_id              6131 non-null   object
 1   tipo                 6131 non-null   object
 2   titulo               6131 non-null   object
 3   director             6131 non-null   object
 4   reparto              6131 non-null   object
 5   pais                 6131 non-null   object
 6   fecha_de_agregado    6131 non-null   datetime64[ns]
 7   anio_de_lanzamiento  6131 non-null   int64
 8   clasificacion        6131 non-null   object
 9   duracion             6131 non-null   object
 10  genero               6131 non-null   object
 11  descripcion          6131 non-null   object
 12  duracion_num         6128 non-null   float64
 13  duracion_unit        6131 non-null   object
 14  pais_principal       6131 non-null   object
 15  unico_genero         6131 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 766.5+ KB

In [247]:
nxp.groupby('pais_principal')['duracion_num'].agg(['mean', 'min', 'max', 'count']).head(10).sort_values(by='count', ascending=False)

                      mean    min    max  count
pais_principal
Australia        93.393443   23.0  146.0     61
Argentina        89.607143   49.0  124.0     56
Brazil           90.517857   44.0  133.0     56
Belgium          99.444444   77.0  127.0      9
Austria          99.000000   89.0  112.0      8
Bulgaria         94.400000   87.0  110.0      5
Bangladesh      111.666667   95.0  136.0      3
Cambodia        114.500000   92.0  137.0      2
                103.000000  103.0  103.0      1
Cameroon        143.000000  143.0  143.0      1

### 3.3. Duración de las películas por década

Considera solo los registros donde `type == 'Movie'`. Calcula la duración promedio por década de `release_year`.

In [248]:

movies = nxp[nxp['tipo'] == 'Movie'].copy()
movies['decade'] = (movies['anio_de_lanzamiento'] // 10) * 10
duration_by_decade = (
    movies.groupby('decade')['duracion_num']
          .agg(['mean', 'count'])
)
duration_by_decade

              mean  count
decade
1940     51.384615     13
1950    107.090909     11
1960    147.608696     23
1970    119.242424     66
1980    116.229508    122
1990    113.842324    241
2000    112.110783    677
2010     96.922028   4181
2020     93.642317    794

### 3.4. Géneros más frecuentes

¿Cuáles son los géneros (`listed_in`) más comunes en el catálogo?

In [249]:
genres_series = df['genero'].dropna().str.split(', ')
all_genres = pd.Series([g for sub in genres_series for g in sub])
top_genres = all_genres.value_counts().head(10)
top_genres

International Movies        2752
Dramas                      2427
Comedies                    1674
International TV Shows      1351
Documentaries                869
Action & Adventure           859
TV Dramas                    763
Independent Movies           756
Children & Family Movies     641
Romantic Movies              616
Name: count, dtype: int64

### 3.5. Países con más títulos

Usando `main_country`, ¿cuáles son los países con más títulos en el catálogo?

In [250]:
df['pais'].value_counts().head(10)

pais
United States     2818
India              972
Desconocido        831
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Name: count, dtype: int64

## 4. Uso de NumPy para estadísticas

En esta sección usamos NumPy explícitamente sobre la duración de las películas.

In [251]:
movie_durations = movies['duracion_num'].dropna().values
movie_durations[:10]

array([ 90.,  91., 125., 104., 127.,  91.,  67.,  94., 161.,  61.])

In [252]:
mean_duration = np.mean(movie_durations)
median_duration = np.median(movie_durations)
p90_duration = np.percentile(movie_durations, 90)
mean_duration, median_duration, p90_duration

(np.float64(99.57718668407311), np.float64(98.0), np.float64(133.0))

In [253]:
long_mask = movie_durations > 120
long_ratio = long_mask.mean()
long_ratio

np.float64(0.18635770234986945)

**Actividad:** Interpreta los resultados anteriores: ¿es común encontrar películas muy largas (> 120 minutos) en el catálogo?

## 5. Proyecto Final

Vamos a hacer una aplicacion que permita examinar la base de datos, la cual va a tener las siguientes funciones:

Buscar una series, actor o director. //
Ofrecer una serie o pelicula al azar //
Mostrar peliculas o series segun genero. //
Tiempo total de ver todo el catalogo de peliculas en Netflix //
Estadisticas por años de estreno //
Ofrecer peliculas basadas en el tiempo de duracion del usuario //

In [254]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   show_id              8807 non-null   object
 1   tipo                 8807 non-null   object
 2   titulo               8807 non-null   object
 3   director             8807 non-null   object
 4   reparto              8807 non-null   object
 5   pais                 8807 non-null   object
 6   fecha_de_agregado    8807 non-null   datetime64[ns]
 7   anio_de_lanzamiento  8807 non-null   int64
 8   clasificacion        8807 non-null   object
 9   duracion             8807 non-null   object
 10  genero               8807 non-null   object
 11  descripcion          8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB

In [255]:
df['reparto'] = df['reparto'].str.lower()
df['director'] = df['director'].str.lower()

Buscar por actor o director

In [256]:
#eleccionps=input("Ingrese pelicula o serie")

def buscar_por_actor_o_director(nombre):
    nombre = nombre.lower()
    return df.loc[(df['reparto'].str.contains(nombre, na=False)) | (df['director'].str.contains(nombre, na=False)), ['titulo', 'tipo', 'director', 'reparto']]

buscar_por_actor_o_director(input("Ingrese actor o director"))

       titulo     tipo     director       reparto
5038  Re:Mind  TV Show  desconocido  keyakizaka46

Pelicula al azar

In [257]:
def peliculas_al_azar(n):
    return df.sample(n)
peliculas_al_azar(1)

,show_id,tipo,titulo,director,reparto,pais,fecha_de_agregado,anio_de_lanzamiento,clasificacion,duracion,genero,descripcion
8761,s8762,Movie,Wrong No.,yasir nawaz,"javed sheikh, danish taimoor, janita asma, nay...",Pakistan,2017-07-01,2015,TV-14,133 min,"Comedies, International Movies, Romantic Movies",Two identical strangers pursue their respectiv...

In [258]:
df['genero'].replace('TV', '', regex=True, inplace=True)
df['genero'] = df['genero'].str.strip()

C:\Users\julia\AppData\Local\Temp\ipykernel_34620\885774512.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['genero'].replace('TV', '', regex=True, inplace=True)

Busqueda por Genero

In [259]:
def buscar_por_genero(elegenero):
    genero = elegenero.lower().strip()
    return df.loc[(df['genero'].str.contains(genero, na=False, case=False)), ['titulo', 'tipo', 'director', 'reparto']]

buscar_por_genero(input("Ingrese el genero"))

,titulo,tipo,director,reparto
0,Dick Johnson Is Dead,Movie,kirsten johnson,desconocido
1,Blood & Water,TV Show,desconocido,"ama qamata, khosi ngema, gail mabalane, thaban..."
2,Ganglands,TV Show,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi..."
3,Jailbirds New Orleans,TV Show,desconocido,desconocido
4,Kota Factory,TV Show,desconocido,"mayur more, jitendra kumar, ranjan raj, alam k..."
...,...,...,...,...
8802,Zodiac,Movie,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j..."
8803,Zombie Dumb,TV Show,desconocido,desconocido
8804,Zombieland,Movie,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ..."
8805,Zoom,Movie,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma..."
8806,Zubaan,Movie,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan..."

Duracion  total de ver las peliculas y series en netflix

In [260]:
tiempo_total = (nxp['duracion_num'].sum() / 60)/24

print(f"{tiempo_total:.2f} dias de entretenimiento en Netflix solo con las peliculas")

423.76 dias de entretenimiento en Netflix solo con las peliculas

temporada contiene 20 capitulos, cada capitulo 60 minutos

In [261]:
tiempo_total_series = (nxs['duracion_num'].sum()*20/24)
print(f"{tiempo_total_series:.2f} dias de entretenimiento en Netflix solo con las series")

3935.83 dias de entretenimiento en Netflix solo con las series

In [262]:
duracion_estandar_series = nxs['duracion_num'].values * 1200
def estadisticas_anios(año):
    año = int(año)
    peliculas_año = nxp[nxp['anio_de_lanzamiento'] == año]
    series_año = nxs[nxs['anio_de_lanzamiento'] == año]
    duracion_peliculas = peliculas_año['duracion_num'].mean()
    minima_duracion = peliculas_año['duracion_num'].min()
    maxima_duracion = peliculas_año['duracion_num'].max()
    duracion_series = duracion_estandar_series.mean()
    minima_duracion_series = duracion_estandar_series.min()
    maxima_duracion_series = duracion_estandar_series.max()
    if año not in nxp['anio_de_lanzamiento'].values and año not in nxs['anio_de_lanzamiento'].values:
        print(f"No hay datos disponibles para el año {año}.")
        return
    else:
        print(f"En el año {año}, la duración promedio de las peliculas fue de {duracion_peliculas:.2f} minutos, la minima duración fue de {minima_duracion} minutos y la máxima duración fue de {maxima_duracion} minutos.")
        print(f"En el año {año}, la duración promedio de las series fue de {duracion_series:.2f} minutos, la minima duración fue de {minima_duracion_series} minutos y la máxima duración fue de {maxima_duracion_series} minutos.")
        print(f"En el año {año}, se lanzaron {peliculas_año.shape[0]} peliculas y {series_año.shape[0]} series.")
    return

estadisticas_anios(int(input("Ingrese el año que desea consultar")))

ValueError: invalid literal for int() with base 10: ''

In [ ]:
def recomendaciones_por_duracion(duracion):
    duracion = float(duracion)
    peliculas_similares = nxp[(nxp['duracion_num'] >= duracion) & (nxp['duracion_num'] <= duracion)].head(1)
    return peliculas_similares[['titulo', 'duracion_num', 'director', 'reparto']]
recomendaciones_por_duracion(int(input("Ingrese la duracion en minutos")))

                 titulo  duracion_num         director      reparto
0  Dick Johnson Is Dead          90.0  Kirsten Johnson  Desconocido

In [ ]:
def menu():
    print("Bienvenido al sistema de recomendaciones de Netflix")
    print("1. Buscar por actor o director")
    print("2. Buscar por género")
    print("3. Obtener película al azar")
    print("4. Estadísticas por año")
    print("5. Recomendaciones por duración")
    print("6. Salir")
    
    while True:
        choice = input("Seleccione una opción (1-6): ")
        
        if choice == '1':
            nombre = input("Ingrese actor o director: ")
            resultados = buscar_por_actor_o_director(nombre)
            print(resultados)
        elif choice == '2':
            genero = input("Ingrese el género: ")
            resultados = buscar_por_genero(genero)
            print(resultados)
        elif choice == '3':
            azar = peliculas_al_azar(1)
            print(azar) 
        elif choice == '4':
            año = int(input("Ingrese el año que desea consultar: "))
            estadisticas_anios(año)
        elif choice == '5':
            duracion = int(input("Ingrese la duración en minutos: "))
            resultados = recomendaciones_por_duracion(duracion)
            print(resultados)
        elif choice == '6':
            print("Gracias por usar el sistema de recomendaciones de Netflix. ¡Hasta luego!")
            break
        else:
            print("Opción no válida. Por favor, seleccione una opción del 1 al 6.")

In [264]:
menu()

Bienvenido al sistema de recomendaciones de Netflix
1. Buscar por actor o director
2. Buscar por género
3. Obtener película al azar
4. Estadísticas por año
5. Recomendaciones por duración
6. Salir
                                                 titulo     tipo  \
278                         Lokillo: Nothing's the Same    Movie
359                        The Original Kings of Comedy    Movie
388             Plastic Cup Boyz: Laughing My Mask Off!  TV Show
400   Revelations: The Masters of the Universe: Reve...  TV Show
475                                        The Stand-Up    Movie
...                                                 ...      ...
7812                                   Queens of Comedy  TV Show
7813                                   Queens vs. Kings  TV Show
7908                       Russell Peters vs. the World  TV Show
7909                          Russell Peters: Notorious    Movie
8437                             The Netflix Afterparty  TV Show

                             director  \
278                    julián gaviria
359                         spike lee
388   royale watkins, rich schlansker
400                       desconocido
475                    daniel růžička
...                               ...
7812                      desconocido
7813                      desconocido
7908                      desconocido
7909                       dave higby
8437                      desconocido

                                                reparto
278                                      lokillo florez
359   steve harvey, d.l. hughley, cedric the enterta...
388         joey wells, will 'spank' horton, na'im lynn
400   kevin smith, tiffany smith, robert david, sara...
475   iva pazderková, lukáš pavlásek, daniel čech, p...
...                                                 ...
7812                                        desconocido
7813  varun thakur, anu menon, rahul subramanian, si...
7908                                     russell peters
7909                                     russell peters
8437       david spade, london hughes, fortune feimster

[399 rows x 4 columns]
Opción no válida. Por favor, seleccione una opción del 1 al 6.
Gracias por usar el sistema de recomendaciones de Netflix. ¡Hasta luego!

In [ ]:
df.loc[df['genero'] == 'Documentaries']

,show_id,tipo,titulo,director,reparto,pais,fecha_de_agregado,anio_de_lanzamiento,clasificacion,duracion,genero,descripcion
0,s1,Movie,Dick Johnson Is Dead,kirsten johnson,desconocido,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
45,s46,Movie,My Heroes Were Cowboys,tyler greco,desconocido,Desconocido,2021-09-16,2021,PG,23 min,Documentaries,Robin Wiltshire's painful childhood was rescue...
117,s118,Movie,Final Account,luke holland,desconocido,"United Kingdom, United States",2021-09-02,2021,PG-13,94 min,Documentaries,This documentary stitches together never-befor...
221,s222,Movie,"Bob Ross: Happy Accidents, Betrayal & Greed",joshua rofé,bob ross,Desconocido,2021-08-25,2021,TV-14,93 min,Documentaries,Bob Ross brought joy to millions as the world’...
304,s305,Movie,Lady Boss: The Jackie Collins Story,laura fairrie,jackie collins,United Kingdom,2021-08-05,2021,TV-14,97 min,Documentaries,"""Queen of Sleaze"" or feminist pioneer? Powerho..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8723,s8724,Movie,What Makes a Psychopath?,rebecca harrison,desconocido,United Kingdom,2019-02-01,2017,TV-14,52 min,Documentaries,This wide-ranging documentary examines the beh...
8737,s8738,Movie,Why Are We Getting So Fat?,"milla harrison-hansley, alicky sussman",giles yeo,United Kingdom,2019-02-01,2016,TV-14,50 min,Documentaries,A Cambridge geneticist dispels misconceptions ...
8738,s8739,Movie,Why Knot,dhruv dhawan,desconocido,"Canada, India, Thailand, United States, United...",2017-10-15,2016,TV-MA,84 min,Documentaries,"Pressured by his traditional family to marry, ..."
8739,s8740,Movie,Why We Fight: The Battle of Russia,"frank capra, anatole litvak",desconocido,United States,2017-03-31,1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...
8763,s8764,Movie,WWII: Report from the Aleutians,john huston,desconocido,United States,2017-03-31,1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...