# Análisis exploratorio con datos de Netflix

En este cuaderno vamos a explorar la base de datos `netflix_titles.csv` usando **pandas** y **NumPy**.

Objetivos:
- Practicar carga y exploración de datos.
- Realizar limpieza y transformación básica.
- Responder preguntas usando agregaciones y filtros.
- Usar NumPy para calcular estadísticas sobre una variable numérica.

In [1]:
import pandas as pd
import numpy as np

## 1. Carga e inspección inicial

En esta sección cargamos el archivo `netflix_titles.csv` y revisamos su estructura general.

In [2]:
df = pd.read_csv('netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
df.shape

(8807, 12)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   show_id              8807 non-null   object
 1   tipo                 8807 non-null   object
 2   titulo               8807 non-null   object
 3   director             6173 non-null   object
 4   reparto              7982 non-null   object
 5   pais                 7976 non-null   object
 6   fecha_de_agregado    8797 non-null   object
 7   anio_de_lanzamiento  8807 non-null   int64
 8   clasificacion        8803 non-null   object
 9   duracion             8804 non-null   object
 10  genero               8807 non-null   object
 11  descripcion          8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [3]:
df.rename(columns={'type': 'tipo', 'title': 'titulo','cast': 'reparto','country': 'pais','date_added': 'fecha_de_agregado','release_year': 'anio_de_lanzamiento','rating': 'valoracion','duration': 'duracion','listed_in': 'genero','description': 'descripcion'}, inplace=True)

In [4]:
df.rename(columns={'valoracion': 'clasificacion'}, inplace=True)

In [ ]:
df.isna().sum()

show_id                   0
tipo                      0
titulo                    0
director               2634
reparto                 825
pais                    831
fecha_de_agregado        10
anio_de_lanzamiento       0
valoracion                4
duracion                  3
genero                    0
descripcion               0
dtype: int64

In [15]:
df['anio_de_lanzamiento'].describe(include='all')

count    8807.000000
mean     2014.180198
std         8.819312
min      1925.000000
25%      2013.000000
50%      2017.000000
75%      2019.000000
max      2021.000000
Name: anio_de_lanzamiento, dtype: float64

**Actividad:** Describe brevemente (en tus propias palabras) qué información contiene el dataset y qué columnas parecen más importantes para el análisis.

## 2. Limpieza y transformación básica

Vamos a:
- Convertir `date_added` a tipo fecha.
- Crear una columna `year_added`.
- Separar `duration` en número y unidad.
- Crear una columna de país principal.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   show_id              8807 non-null   object
 1   tipo                 8807 non-null   object
 2   titulo               8807 non-null   object
 3   director             6173 non-null   object
 4   reparto              7982 non-null   object
 5   pais                 7976 non-null   object
 6   fecha_de_agregado    8709 non-null   datetime64[ns]
 7   anio_de_lanzamiento  8807 non-null   int64
 8   clasificacion        8803 non-null   object
 9   duracion             8804 non-null   object
 10  genero               8807 non-null   object
 11  descripcion          8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB

In [ ]:
df['fecha_de_agregado'].describe(include='all')

count                             8709
mean     2019-05-23 01:45:29.452290816
min                2008-01-01 00:00:00
25%                2018-04-20 00:00:00
50%                2019-07-12 00:00:00
75%                2020-08-26 00:00:00
max                2021-09-25 00:00:00
Name: fecha_de_agregado, dtype: object

In [5]:
df['fecha_de_agregado'] = pd.to_datetime(df['fecha_de_agregado'], errors='coerce')

In [28]:
df.isna().sum()

show_id                   0
tipo                      0
titulo                    0
director               2634
reparto                 825
pais                    831
fecha_de_agregado        98
anio_de_lanzamiento       0
clasificacion             4
duracion                  3
genero                    0
descripcion               0
dtype: int64

In [29]:
df['fecha_de_agregado'].head(20)

0    2021-09-25
1    2021-09-24
2    2021-09-24
3    2021-09-24
4    2021-09-24
5    2021-09-24
6    2021-09-24
7    2021-09-24
8    2021-09-24
9    2021-09-24
10   2021-09-24
11   2021-09-23
12   2021-09-23
13   2021-09-22
14   2021-09-22
15   2021-09-22
16   2021-09-22
17   2021-09-22
18   2021-09-22
19   2021-09-22
Name: fecha_de_agregado, dtype: datetime64[ns]

In [22]:
df['director'].fillna('Desconocido', inplace=True)
df['reparto'].fillna('Desconocido', inplace=True)
df['pais'].fillna('Desconocido', inplace=True)

In [23]:
df['fecha_de_agregado'].fillna(df['anio_de_lanzamiento'].astype(str) + "-01-01", inplace=True)

In [24]:
df['clasificacion'].fillna('Desconocido', inplace=True)
df['duracion'].fillna('Desconocido', inplace=True)

In [25]:
df.isna().sum()

show_id                  0
tipo                     0
titulo                   0
director                 0
reparto                  0
pais                     0
fecha_de_agregado        0
anio_de_lanzamiento      0
clasificacion            0
duracion                 0
genero                   0
descripcion              0
main_country           831
mes_de_agregado          0
dtype: int64

In [ ]:
netflix_peliculas = df.loc[df['tipo'] == 'Movie']
netflix_peliculas.shape

(6131, 14)

In [29]:
netflix_peliculas.to_csv('netflix_peliculas.csv', index=False)

In [ ]:
netflix_peliculas = pd.read_csv('netflix_peliculas.csv')
netflix_peliculas.head(20)

In [28]:
netflix_series = df.loc[df['tipo'] == 'TV Show']
netflix_series.shape

(2676, 14)

In [31]:
netflix_series.to_csv('netflix_series.csv', index=False)

In [45]:
netflix_peliculas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6131 entries, 0 to 6130
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   show_id              6131 non-null   object
 1   tipo                 6131 non-null   object
 2   titulo               6131 non-null   object
 3   director             6131 non-null   object
 4   reparto              6131 non-null   object
 5   pais                 6131 non-null   object
 6   fecha_de_agregado    6131 non-null   object
 7   anio_de_lanzamiento  6131 non-null   int64
 8   clasificacion        6131 non-null   object
 9   duracion             6131 non-null   object
 10  genero               6131 non-null   object
 11  descripcion          6131 non-null   object
dtypes: int64(1), object(11)
memory usage: 574.9+ KB

In [46]:
nxp= netflix_peliculas
nxp['director'].unique()

array(['Kirsten Johnson', 'Robert Cullen, José Luis Ucha', 'Haile Gerima',
       ..., 'Majid Al Ansari', 'Peter Hewitt', 'Mozez Singh'],
      shape=(4355,), dtype=object)

In [57]:
nxp['director'].head(20)

0                                       Kirsten Johnson
1                         Robert Cullen, José Luis Ucha
2                                          Haile Gerima
3                                        Theodore Melfi
4                                   Christian Schwochow
5                                         Bruno Garotti
6         Pedro de Echave García, Pablo Azorín Williams
7                                            Adam Salky
8                                        K.S. Ravikumar
9                               Alex Woo, Stanley Moore
10                                           S. Shankar
11                                          Rajiv Menon
12                                         Dennis Dugan
13                                        Scott Stewart
14                                       Robert Luketic
15    Ashwiny Iyer Tiwari, Abhishek Chaubey, Saket C...
16                                         Daniel Sandu
17                                       Cédric Jimenez
18                                         George Nolfi
19                                     Steven Spielberg
Name: director, dtype: object

In [63]:
#nxp.loc[nxp['reparto'].str.contains('Vanessa Hudgens')]['titulo'].count()
nxp.loc[nxp['director'].str.contains('Robert Cullen')].head(20)

,show_id,tipo,titulo,director,reparto,pais,fecha_de_agregado,anio_de_lanzamiento,clasificacion,duracion,genero,descripcion
1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",Desconocido,2021-09-24,2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...

In [50]:
nxs = netflix_series

In [68]:
nxp['fecha_de_agregado'] = pd.to_datetime(nxp['fecha_de_agregado'], errors='coerce')

In [90]:
nxp['fecha_de_agregado'].value_counts(ascending=False)

fecha_de_agregado
2020-01-01    97
2019-11-01    75
2018-03-01    72
2019-12-31    67
2018-10-01    64
              ..
2019-06-23     1
2018-12-23     1
2019-10-26     1
2019-04-21     1
2016-05-26     1
Name: count, Length: 1533, dtype: int64

In [93]:
nxs['anio_de_lanzamiento'].value_counts(ascending=False)

anio_de_lanzamiento
2020    436
2019    397
2018    380
2021    315
2017    265
2016    244
2015    162
2014     88
2012     64
2013     63
2010     40
2011     40
2009     34
2008     23
2006     14
2007     14
2005     13
2003     10
2004      9
1999      7
2002      7
2001      5
2000      4
1998      4
1993      4
1997      4
1990      3
1992      3
1996      3
1994      2
1995      2
1986      2
1988      2
1945      1
1974      1
1991      1
1972      1
1925      1
1979      1
1977      1
1981      1
1946      1
1985      1
1967      1
1989      1
1963      1
Name: count, dtype: int64

In [89]:
nxs['fecha_de_agregado'] = pd.to_datetime(nxs['fecha_de_agregado'], errors='coerce')
nxs['fecha_de_agregado'].value_counts(ascending=False)

fecha_de_agregado
2016-01-01    47
2021-07-06    31
2017-01-01    24
2017-08-01    22
2021-06-19    21
              ..
2016-11-11     1
1967-01-01     1
2021-09-05     1
2021-09-09     1
2021-09-21     1
Name: count, Length: 999, dtype: int64

In [44]:
df.drop(columns=['mes_de_agregado'], inplace=True)

In [ ]:
netflix_series = pd.read_csv('netflix_series.csv')
netflix_series.head(20)

In [94]:
nxp['duracion'].head(20)

0      90 min
1      91 min
2     125 min
3     104 min
4     127 min
5      91 min
6      67 min
7      94 min
8     161 min
9      61 min
10    166 min
11    147 min
12    103 min
13     97 min
14    106 min
15    111 min
16    110 min
17    105 min
18     96 min
19    124 min
Name: duracion, dtype: object

In [103]:
# Separar duración en número y unidad
nxp['duracion_num'] = nxp['duracion'].str.extract(r'(\d+)').astype(float)
nxp['duracion_unit'] = nxp['duracion'].str.extract(r'([A-Za-z ]+)$')

In [114]:
nxp['duracion_num'].describe()
min_duration = nxp['duracion_num'].min()
max_duration = nxp['duracion_num'].max()
shorts = nxp.loc[nxp['duracion_num']<15]

In [115]:
shorts.to_csv('netflix_short_movies.csv', index=False)

In [ ]:
nxp['pais'].unique()

In [ ]:
# País principal (primer país de la lista)
nxp['pais_principal'] = nxp['pais'].str.split(',').str[0].str.strip()
nxp['pais_principal'].value_counts()

pais_principal
United States     2364
India              927
Desconocido        440
United Kingdom     382
Canada             187
                  ...
Slovenia             1
Guatemala            1
Jamaica              1
Somalia              1
Croatia              1
Name: count, Length: 80, dtype: int64

In [ ]:
df.loc[df['pais'].str.contains('Colombia')]

**Actividad:** Revisa qué columnas tienen muchos valores faltantes y comenta qué decisión tomarías (eliminar filas, imputar, dejar como están) para este proyecto.

## 3. Preguntas de análisis con pandas

Responde las siguientes preguntas usando filtros, `groupby` y agregaciones.

### 3.1. Películas vs series

¿Cuántas películas y cuántas series hay en el catálogo?

In [ ]:
df['type'].value_counts()

### 3.2. Títulos añadidos por año y tipo

¿Cómo ha evolucionado el número de títulos añadidos a Netflix por año (`year_added`) y por `type`?

In [140]:
nxp['unico_genero'] = nxp['genero'].str.split(',').str[0].str.strip()

In [ ]:
titulos_por_anio = (
    nxp.groupby(['anio_de_lanzamiento', 'unico_genero'])['show_id']
      .count()
      .reset_index(name='n_titles')
)
#titulos_por_anio.head(10)
titulos_por_anio.loc[titulos_por_anio['unico_genero'] == 'Comedies']

In [ ]:
nxp.info()

In [153]:
nxp.groupby('pais_principal')['duracion_num'].agg(['mean', 'min', 'max', 'count']).head(10).sort_values(by='count', ascending=False)

                      mean    min    max  count
pais_principal
Australia        93.393443   23.0  146.0     61
Argentina        89.607143   49.0  124.0     56
Brazil           90.517857   44.0  133.0     56
Belgium          99.444444   77.0  127.0      9
Austria          99.000000   89.0  112.0      8
Bulgaria         94.400000   87.0  110.0      5
Bangladesh      111.666667   95.0  136.0      3
Cambodia        114.500000   92.0  137.0      2
                103.000000  103.0  103.0      1
Cameroon        143.000000  143.0  143.0      1

### 3.3. Duración de las películas por década

Considera solo los registros donde `type == 'Movie'`. Calcula la duración promedio por década de `release_year`.

In [ ]:
movies = df[df['type'] == 'Movie'].copy()
movies['decade'] = (movies['release_year'] // 10) * 10
duration_by_decade = (
    movies.groupby('decade')['duration_num']
          .mean()
)
duration_by_decade

### 3.4. Géneros más frecuentes

¿Cuáles son los géneros (`listed_in`) más comunes en el catálogo?

In [ ]:
genres_series = df['listed_in'].dropna().str.split(', ')
all_genres = pd.Series([g for sub in genres_series for g in sub])
top_genres = all_genres.value_counts().head(10)
top_genres

### 3.5. Países con más títulos

Usando `main_country`, ¿cuáles son los países con más títulos en el catálogo?

In [ ]:
df['main_country'].value_counts().head(10)

## 4. Uso de NumPy para estadísticas

En esta sección usamos NumPy explícitamente sobre la duración de las películas.

In [ ]:
movie_durations = movies['duration_num'].dropna().values
movie_durations[:10]

In [ ]:
mean_duration = np.mean(movie_durations)
median_duration = np.median(movie_durations)
p90_duration = np.percentile(movie_durations, 90)
mean_duration, median_duration, p90_duration

In [ ]:
long_mask = movie_durations > 120
long_ratio = long_mask.mean()
long_ratio

**Actividad:** Interpreta los resultados anteriores: ¿es común encontrar películas muy largas (> 120 minutos) en el catálogo?

## 5. Conclusiones

Escribe un breve resumen (5–8 frases) donde respondas, en lenguaje natural, a las preguntas principales del análisis:
- Películas vs series.
- Evolución por año.
- Patrón de duración por década.
- Géneros y países predominantes.